.headerContainer{
    height: 5rem;
    border-bottom: 1px solid var(--white);

}

.headerContent {
    height: 5rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;

    text{
        display: inline-block;
        position: relative;
        padding: 0 0.5rem;
        height: 5rem;
        line-height: 5rem;
        font-size: 26px;
        font-weight:700;
        color: var(--white);
        transition: color 0.2s;
        cursor: pointer;
        color: #c6e2ff;
        animation: neon .08s ease-in-out infinite alternate;
        
        &:hover {
            color:#be17b6 ;
           
    
        }
    }
    @keyframes neon {
        from {
          text-shadow:
          0 0 6px rgba(202,228,225,0.92),
          0 0 30px rgba(202,228,225,0.34),
          0 0 12px rgba(30,132,242,0.52),
          0 0 21px rgba(30,132,242,0.92),
          0 0 34px rgba(30,132,242,0.78),
          0 0 54px rgba(30,132,242,0.92);
        }
        to {
          text-shadow:
          0 0 6px rgba(202,228,225,0.98),
          0 0 30px rgba(202,228,225,0.42),
          0 0 12px rgba(30,132,242,0.58),
          0 0 22px rgba(30,132,242,0.84),
          0 0 38px rgba(30,132,242,0.88),
          0 0 60px rgba(30,132,242,1);
        }
      }

      


    span{
        display: inline-block;
        position: relative;
        padding: 0 0.5rem;
        height: 5rem;
        line-height: 5rem;
        font-weight:700;
        color: var(--white);
        transition: color 0.2s;
        color: #c6e2ff;
        animation: neon .08s ease-in-out infinite alternate;

        &:hover {
            color: #be17b6;
           
    
        }
    }
    
    


    nav {
        height: 5rem;
        margin-left: auto;

        
        a{
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            height: 5rem;
            line-height: 5rem;
            font-weight:700;
            color: var(--white);
            transition: color 0.2s;
            margin-left: 1rem;
            color: #c6e2ff;
            animation: neon .08s ease-in-out infinite alternate;


            &:hover {
                color: #be17b6;
               

            }
        }
    }


}

@media screen and (max-width:493px) {

    .headerContent {
        height: 5rem;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        align-items: center;
    
        text{
            font-size: 16px;
         
        }
        span{
            font-size: 14px;
        }
        nav {
            display: none;

        }
    }
    
}