.contentCurriculo{
    display: grid;
    width: 400px;
    grid-template-columns: repeat(2, 1fr);
    padding:2rem 0;
    
    ul{
        width:400px
    }
}
.line{
    width: 100%;
    border-bottom: 1px solid var(--white) ;
}
.finalCurriculo{
    width: 100%;
    padding:2rem 0;
}
.textCurriculo{
        text-align: right;
    
    h3{
        font-size: 36px;
        color:var(--white);
        text-align-last: center;
    }
    
    p{
        font-size: 22px;
        color:var(--white)
    }
}
.textTwoCurriculo{
    padding: 5rem 0 0 5rem;
    
    h3{
        font-size: 36px;
        color:var(--white)
    }
    
    p{
        width: 200px;
        font-size: 22px;
        padding: 4rem 0 0 0;
        color:var(--white)
    }
}
.curriculo{
    width: 500px;
    align-self: end;
}
.curriculoTwo{
    width: 500px;
    align-self: end;
}
.date{
    padding-bottom: 2.5rem;
}
.trabalhoCurriculo{
    display: flex;
    align-self: end;

    p{
        width: 15rem;
        color: var(--white);
        text-align-last: center;
        align-self: center;  
     }
    title{
        color: var(--white)
    }

}
.titleCurriculo{
    display: grid;
    width: 500px;
    height: 335px;
    grid-template-columns: repeat(2, 1fr);
    h3{
        color: var(--white);
        padding: 0 0 2rem 0;
    }
    a{
        color: var(--white);


    }
}
.trabalhoTwoCurriculo{
    display: flex;
    align-self: end;

    p{
        width: 15rem;
        color: var(--white);
        text-align-last: center;
        align-self: center;    
     }
    title{
        color: var(--white)
    }

}
.titleTwoCurriculo{
    display: grid;
    width: 500px;
    height: 230px;
    grid-template-columns: repeat(2, 1fr);
    h3{
        color: var(--white);
        padding: 0 0 2rem 0;
    }
    a{
        color: var(--white);
    }
}
.titleEducacao{
    display: grid;
    width: 500px;
    height: 150px;
    grid-template-columns: repeat(2, 1fr);
    h3{
        color: var(--white);
        padding: 0 0 2rem 0;
    }
    a{
        color: var(--white);
    }
}
.cardGroup{
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}

.card{
    display: grid;
    width:10rem;
    height:17rem;
    border: 1px solid var(--white);
    margin: 0.5rem;

    img{
        width: 100%;
    }

    h5{
        width: 100%;
        color: var(--white);
        text-align: center;
        padding: 1rem 0.2rem 0;
    }

    a{
        color: var(--white);
        text-align: center;
        padding: 0 0 1rem 0;
        align-self: flex-end;

        &:hover {
            color: var(--gray-800);
        }
    }

}
.view{
    padding: 2rem 0 2rem 0;
    text-align-last: center;

    button{
        padding: 15px 35px;
        font-weight: 700;
        letter-spacing: 2px;
        background: transparent;
        color: var(--white);
        border: 2px solid white;
        border-radius: 2rem;
    
        &:hover {
            color: var(--gray-800);
        }
    }
}

@media screen and (max-width:480px) {
    .contentCurriculo{
        grid-template-columns: repeat(1, 1fr);
    }

    .trabalhoCurriculo{
    
        p{
            justify-self: center; 
            padding-bottom: 0;
         }
    }

    .textCurriculo{
        
        h3{
            font-size: 16px;
            color:var(--white)
        }
        
        p{
            text-align-last: center;
            font-size: 12px;
        }
    }
    .curriculo{
        width: 350px;
        justify-self: center;    
        align-self: normal;
    }
    .trabalhoTwoCurriculo{  
        text-align: center;  
        p{
            justify-self: center;   
         }    
    }
    

    .titleCurriculo{
        grid-template-columns: repeat(1, 1fr);
        
        h3{
            font-size: 14px;
        }
        a{
            font-size: 12px;
        }
    }
    .titleTwoCurriculo{
        grid-template-columns: repeat(1, 1fr);
        h3{
            font-size: 14px;
        }
        a{
            color: var(--white);
        }

    }
    .titleEducacao{
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem 0;
        h3{
            font-size: 14px;
        }
        a{
            font-size: 12px;
        }
    }
    .curriculoTwo{
        width: 300px;
        justify-self: center;
    }
    .trabalhoCurriculo{
        text-align: center;
    }
    .line{
        width: 400px;
    }
    .textTwoCurriculo{
        text-align-last: center;
        padding: 4rem 0 4rem 1rem;
        
        h3{
            font-size:16px;
            color:var(--white)
        }
    }
    .cardGroup{
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem;
    }
    .card{
        display: grid;
        width:8rem;
        height:17rem;
        border: 1px solid var(--white);
        margin: 0.5rem;
    
        img{
            width: 100%;
        }
    
        h5{
           font-size: 12px;
        }
    
        a{
            font-size: 12px;
        }
    
    }
    .view{
        text-align-last: center;
    }
    
}